.jumbotron {
  padding-top: 10rem;
  background-color: #e2edff;
}

#hobbies {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.col-md-6.tengah {
  margin: auto;
  width: 50%;
  padding: 10px;
}
